.cost-info {
  padding: 100px 0;
  background-color: #f3f6f9;

  &__title {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 40px;
    color: var(--dark);
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 26px;
    color: var(--dark);
  }

  &__subtitle {
		margin: 0;
		margin-bottom: 100px;
    font-weight: 400;
    font-size: 26px;
    color: var(--dark);
  }

  &__item {
		position: relative;
    grid-column: 3 span;
    border-radius: 20px;
    padding: 40px 20px 70px;
    background: #00a0e2;
  }

	&__icon {
		position: absolute;
		left: 50%;
		top: -70px;
		display: flex;
		align-items: start;
		justify-content: center;
		margin: 0 auto;
		border-radius: 100%;
		padding: 10px;
		width: 149px;
		height: 149px;
		background-color: #00a0e2;
		transform: translateX(-50%);

	}

  &__heading {
		position: relative;
		z-index: 5;
		margin: 0;
		margin-bottom: 17px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  &__text {
		margin: 0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }
}
