.promo-banner {
	padding-top: 98px;
	padding-bottom: 69px;

  &__container {
    display: flex;
    gap: 39px;
  }

  &__descr {
    max-width: 698px;
  }

  &__title {
    margin: 0;
		margin-bottom: 48px;
    font-weight: 700;
    font-size: 40px;
    color: var(--dark);
  }

	&__text {
		max-width: 680px;
	}

  &__descr {
		margin: 0;
		margin-bottom: 40px;
    font-weight: 400;
    font-size: 26px;
    color: var(--dark);
  }
}
