.service-info {
  padding: 100px 0;
  background: #fff5cc;

  &__title {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 40px;
    color: var(--dark);
  }

  &__card {
    grid-column: 6 span;
  }

  &__img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__descr {
    max-width: 680px;
    font-weight: 400;
    font-size: 26px;
    color: var(--dark);
  }
}
