<section class="cost-info">
  <div class="container">
    <h3 class="cost-info__title">
      Что входит в стоимость перевозки эвакуатором
    </h3>
    <p class="cost-info__descr">
      Стоимость эвакуации включает в себя оплату услуг по погрузке, перевозке и
      выгрузке авто, а также по подаче эвакуатора в пункт дислокации ТС в
      Москве.
    </p>
    <h4 class="cost-info__subtitle">
      При формировании цены перевозчики берут в расчет четыре аспекта:
    </h4>
    <ul class="cost-info__list list-reset grid">
      <li class="cost-info__item">
        <div class="cost-info__icon">
					<img src="img/svg/car.svg" width="80" height="80" alt="машина">
				</div>
        <h5 class="cost-info__heading">Грузоподъемность эвакуатора</h5>
        <p class="cost-info__text">
          Чем мощнее эвакуатор, тем дороже обходится ее эксплуатация, ем
          внушительнее будет сумма к оплате эвакуации
        </p>
      </li>
			<li class="cost-info__item">
        <div class="cost-info__icon">
					<img src="img/svg/speed.svg" width="80" height="80" alt="Пробег">
				</div>
        <h5 class="cost-info__heading">Предполагаемый пробег</h5>
        <p class="cost-info__text">
          Учитывается удаленность стоянки эвакуатора 
					от местоположения ТС, расстояние между пунктами погрузки в Москве
					и выгрузки авто
        </p>
      </li>
			<li class="cost-info__item">
        <div class="cost-info__icon">
					<img src="img/svg/settings.svg" width="59" height="59" alt="настройки">
				</div>
        <h5 class="cost-info__heading">Дополнительное оборудование</h5>
        <p class="cost-info__text">
          При эвакуации машин 
					с серьезными поломками перевозчики оснащают эвакуатор вспомогательными приспособлениями, 
					что закономерно отражается 
					на стоимости транспортировки.
        </p>
      </li>
			<li class="cost-info__item">
        <div class="cost-info__icon">
					<img src="img/svg/hard.svg" width="80" height="80" alt="Шестеренка">
				</div>
        <h5 class="cost-info__heading">Уровень сложности</h5>
        <p class="cost-info__text">
          При значительном повреждении автомобиля погрузочно-разгрузочные работы усложняются. Они требуют подключения водителя-оператора высокой квалификации
        </p>
      </li>
    </ul>
  </div>
</section>
