<section class="evacuator-card">
	<div class="container">
		<ul class="evacuator-card__list list-reset">
			<li class="evacuator-card__item">
				<div class="truck-card">
					<h2 class="truck-card__title">Эвакуатор</h2>
					<div class="truck-card__content">
						<div class="truck-card__img">
							<img src="/img/truck-card/truck-card1.webp" srcset="/img/truck-card/truck-card@2x.webp 2x" width="414" height="328" alt="Эвакуатор" class="evacuator-card__img--photo">
						</div>
						<ul class="truck-card__list list-reset">
							<li class="truck-card__item">
								<div class="truck-card__left">Легковой автомобиль</div>
								<div class="truck-card__right">5 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Мотоцикл (крадроцикл и т.д.)</div>
								<div class="truck-card__right">3 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Внедорожник</div>
								<div class="truck-card__right">нет</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Микроавтобус</div>
								<div class="truck-card__right">нет</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Загородный тариф</div>
								<div class="truck-card__right">50 руб/км</div>
							</li>
						</ul>
						<div class="truck-card__contact">
							<a href="" class="truck-card__mobile">+7 999 99 99</a>
							<a href="" class="truck-card__office">+7 999 99 99</a>
							<p class="truck-card__address"><span class="truck-card__address--place">Место стоянки</span> Москва, ул Пушкина</p>
							<button class="btn btn-reset truck-card__commercials"><span class="truck-card__commercials--id">ID объявления 63</span>Заказать рекламу</button>
						</div>
					</div>
					<p class="truck-card__descr">
						Эвакуатор авто. Всегда на связи! Быстро и надежно
					</p>
				</div>
			</li>
			<li class="evacuator-card__item">
				<div class="truck-card">
					<h2 class="truck-card__title">Эвакуатор</h2>
					<div class="truck-card__content">
						<div class="truck-card__img">
							<img src="/img/truck-card/truck-card2.webp" srcset="/img/truck-card/truck-card2@2x.webp 2x" width="414" height="328" alt="Эвакуатор" class="evacuator-card__img--photo">
						</div>
						<ul class="truck-card__list list-reset">
							<li class="truck-card__item">
								<div class="truck-card__left">Легковой автомобиль</div>
								<div class="truck-card__right">4 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Мотоцикл (крадроцикл и т.д.)</div>
								<div class="truck-card__right">3 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Внедорожник</div>
								<div class="truck-card__right">4 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Микроавтобус</div>
								<div class="truck-card__right">6 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Загородный тариф</div>
								<div class="truck-card__right">50 руб/км</div>
							</li>
						</ul>
						<div class="truck-card__contact">
							<a href="" class="truck-card__mobile">+7 999 99 99</a>
							<a href="" class="truck-card__office">+7 999 99 99</a>
							<p class="truck-card__address"><span class="truck-card__address--place">Место стоянки</span> Москва, ул Пушкина</p>
							<button class="btn btn-reset truck-card__commercials"><span class="truck-card__commercials--id">ID объявления 63</span>Заказать рекламу</button>
						</div>
					</div>
					<p class="truck-card__descr">
						Круглосуточно. Стоянка в районе метро Технопарк, быстро доберусь в любую точку города.
					</p>
				</div>
			</li>
			<li class="evacuator-card__item">
				<div class="truck-card">
					<h2 class="truck-card__title">Эвакуатор</h2>
					<div class="truck-card__content">
						<div class="truck-card__img">
							<img src="/img/truck-card/truck-card1.webp" srcset="/img/truck-card/truck-card@2x.webp 2x" width="414" height="328" alt="Эвакуатор" class="evacuator-card__img--photo">
						</div>
						<ul class="truck-card__list list-reset">
							<li class="truck-card__item">
								<div class="truck-card__left">Легковой автомобиль</div>
								<div class="truck-card__right">5 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Мотоцикл (крадроцикл и т.д.)</div>
								<div class="truck-card__right">3 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Внедорожник</div>
								<div class="truck-card__right">нет</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Микроавтобус</div>
								<div class="truck-card__right">нет</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Загородный тариф</div>
								<div class="truck-card__right">50 руб/км</div>
							</li>
						</ul>
						<div class="truck-card__contact">
							<a href="" class="truck-card__mobile">+7 999 99 99</a>
							<a href="" class="truck-card__office">+7 999 99 99</a>
							<p class="truck-card__address"><span class="truck-card__address--place">Место стоянки</span> Москва, ул Пушкина</p>
							<button class="btn btn-reset truck-card__commercials"><span class="truck-card__commercials--id">ID объявления 63</span>Заказать рекламу</button>
						</div>
					</div>
					<p class="truck-card__descr">
						Эвакуатор авто. Всегда на связи! Быстро и надежно
					</p>
				</div>
			</li>
			<li class="evacuator-card__item">
				<div class="truck-card">
					<h2 class="truck-card__title">Эвакуатор</h2>
					<div class="truck-card__content">
						<div class="truck-card__img">
							<img src="/img/truck-card/truck-card2.webp" srcset="/img/truck-card/truck-card2@2x.webp 2x" width="414" height="328" alt="Эвакуатор" class="evacuator-card__img--photo">
						</div>
						<ul class="truck-card__list list-reset">
							<li class="truck-card__item">
								<div class="truck-card__left">Легковой автомобиль</div>
								<div class="truck-card__right">4 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Мотоцикл (крадроцикл и т.д.)</div>
								<div class="truck-card__right">3 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Внедорожник</div>
								<div class="truck-card__right">4 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Микроавтобус</div>
								<div class="truck-card__right">6 000 руб</div>
							</li>
							<li class="truck-card__item">
								<div class="truck-card__left">Загородный тариф</div>
								<div class="truck-card__right">50 руб/км</div>
							</li>
						</ul>
						<div class="truck-card__contact">
							<a href="" class="truck-card__mobile">+7 999 99 99</a>
							<a href="" class="truck-card__office">+7 999 99 99</a>
							<p class="truck-card__address"><span class="truck-card__address--place">Место стоянки</span> Москва, ул Пушкина</p>
							<button class="btn btn-reset truck-card__commercials"><span class="truck-card__commercials--id">ID объявления 63</span>Заказать рекламу</button>
						</div>
					</div>
					<p class="truck-card__descr">
						Круглосуточно. Стоянка в районе метро Технопарк, быстро доберусь в любую точку города.
					</p>
				</div>
			</li>
		</ul>

		<div class="container">
			<div class="pagination">
				<ul class="pagination__list list-reset">
					<li class="pagination__item">1</li>
					<li class="pagination__item">2</li>
					<li class="pagination__item">3</li>
					<li class="pagination__item">4</li>
					<li class="pagination__item">
						<svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7 1L19 13L7 25" stroke="#0297D4" stroke-width="2" stroke-linecap="round" />
						</svg>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>