<header class="header">
 <div class="second-container">
  <div class="header__top">
    <a href="#" class="header__logo" aria-label="Логотип тут Экскаватор"><img src="/img/svg/logo.svg" alt="logo"></a>
    <nav class="nav" title="Главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">о проекте</a></li>
        <li class="nav__item"><a href="#" class="nav__link">контакты</a></li>
      </ul>
      <button class="nav__btn btn-reset" aria-label="Добавить объявление">Добавить объявление</button>
    </nav>
 </div>
 </div>
  <div class="header__row">
    <div class="container">
      <p class="header__descr">Телефоны для вызова эвакуатора в <span class="header__descr--blue">Москве</span></p>
    </div>
  </div>
</header>
