<section class="promo-banner">
	<div class="container promo-banner__container">
		<div class="promo-banner__text">
			<h4 class="promo-banner__title">Как вызвать эвакуатор в Москве дешево?</h4>
			<p class="promo-banner__descr">
				Поломка авто или ДТП – случайностей на дороге много. Решение одно – вызвать эвакуатор 
				и доставить неисправный автомобильна СТО/парковку или в гараж в Москве. 
				С помощью онлайн-сервиса Эварус вы сможете заказать услугу эвакуатора в Москве (Московской области) максимально быстро 
				и при этом сэкономить.
			</p>
			<p class="promo-banner__descr">
				Мы предоставляем доступ к базе коммерческих 
				и частных эвакуаторов Москвы. Это надежные компании, которые оперативно пришлют спецтехнику вам на помощь и обеспечат безопасную транспортировку авто.
			</p>
		</div>
		<div class="promo-banner__img">
			<img src="img/promo-banner.webp" srcset="img/promo-banner@2x.webp 2x" alt="Вызвать эвакуатор">
		</div>
	</div>
</section>