<section class="service-info">
	<div class="container">
		<h3 class="service-info__title">Что нужно знать, чтобы заказать эвакуатор в Москве</h3>
		<div class="service-info__content grid">
			<div class="service-info__card">
				<img src="img/service-info1.webp" srcset="img/service-info1@2x.webp 2x" alt="Эвакуатор" class="service-info__img">
				<p class="service-info__descr">
					Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают круглосуточно. Когда бы вы не позвонили, эвакуатор найдется всегда. Размещая заказ 
					на эвакуатор, ознакомьтесь с информацией 
					о транспортной компании, проконсультируйтесь 
					с ее специалистами и выберите оптимальный вариант перевозки своего ТС.
				</p>
			</div>
			<div class="service-info__card">
				<img src="img/service-info2.webp" srcset="img/service-info2@2x.webp 2x" alt="Эвакуатор" class="service-info__img">
				<p class="service-info__descr">
					Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают круглосуточно. Когда бы вы не позвонили, эвакуатор найдется всегда. Размещая заказ 
					на эвакуатор, ознакомьтесь с информацией 
					о транспортной компании, проконсультируйтесь 
					с ее специалистами и выберите оптимальный вариант перевозки своего ТС.
				</p>
			</div>
		</div>
	</div>
</section>