// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SF Pro Display", sans-serif;
  --content-width: 1400px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --main-blue: #0297d4;
  --dark: #131515;
  --yellow: #ffcd00;
}
